@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

:root {
  /* Primary */
  --PaleBlue: hsl(225, 100%, 94%);
  --BrightBlue: hsl(245, 75%, 52%);

  /* Neutral */
  --Verypaleblue: hsl(225, 100%, 98%);
  --Desaturatedblue: hsl(224, 23%, 55%);
  --Darkblue: hsl(223, 47%, 23%);
  --DarkBluelight: hsla(245, 75%, 52%, 0.3);

  --Font: "Red Hat Display", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: var(--Font);
  background-image: url(../images/pattern-background-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--PaleBlue);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

section {
  margin-inline: 1.5rem;
}

.card__container {
  width: 100%;
  height: auto;
  background: #fff;
  border-radius: 1rem;

  & img {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
  }

  & .card__content {
    padding: 2rem 1.5rem;

    & h1 {
      text-align: center;
      color: var(--Darkblue);
      font-weight: 900;
      margin-bottom: 1rem;
    }

    & p {
      text-align: center;
      color: var(--Desaturatedblue);
      line-height: 1.5;
      margin-bottom: 1.5rem;
    }

    & .card__plan {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: var(--Verypaleblue);
      padding: 1rem;
      border-radius: 0.5rem;
      margin-bottom: 2rem;

      & .card__plan-first {
        display: flex;
        align-items: center;
        column-gap: 0.75rem;

        & img {
          width: 3rem;
        }

        & .card__first-desc {
          display: grid;
          row-gap: 0.2rem;
        }

        & .card__first-desc h2,
        & .card__first-desc p {
          font-size: 14px;
        }

        & .card__first-desc p {
          margin-bottom: 0;
        }
      }

      & .card__plan-second a {
        font-size: 14px;
        color: var(--BrightBlue);
        font-weight: 700;
      }
    }

    & .card__cta {
      display: flex;
      flex-direction: column;
      row-gap: 1.5rem;

      & button {
        border: none;
        background-color: var(--BrightBlue);
        padding: 1rem 0;
        border-radius: 0.5rem;
        color: #fff;
        font-family: var(--Font);
        font-weight: 700;
        letter-spacing: 0.5px;
        box-shadow: 0 10px 10px 0 var(--DarkBluelight);
      }

      & a {
        text-align: center;
        text-decoration: none;
        font-size: 14px;
        font-weight: 700;
        color: var(--Desaturatedblue);
        letter-spacing: 0.5px;
      }
    }
  }
}

@media screen and (min-width: 400px) {
  body {
    margin: 1rem 0;
  }

  .card__container {
    margin-bottom: 1rem;
  }
}

@media screen and (max-height: 600px) {
  body {
    position: relative;
  }
}
